.center {
  text-align:center;
}

.center form {
 display:inline-block;
}

h1 {
  color:#00acee;
}

.pantalla{
  height:200px;
  overflow:auto;
  background:#ccffff
}

#contactos{
   z-index: 0;
   position:absolute;
}
#terminal{
   z-index: 1;
   visibility: hidden;
   position:absolute;
}
#fotos{
   z-index: 2;
   visibility: hidden;
   position:absolute;
}
