[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = vmvc0001
	email = 48995419+vmvc0001@users.noreply.github.com
