<html><head></head><body>

<h1>Prueba del servicio de envio de mensajes </h1>
<form action="./envia" method="post">
<p>Usuario remitente:<input type="text" name="id_org"></p>
<p>Usuario destinatario:<input type="text" name="id_dest"></p>
<p>Tipo de contenido:<select name="tipo">
<option>text</option>
<option>image</option>
<option>speech</option>
</select>
</p>
<p>Contenido:<input type="text" name="contenido"></p>
<p><input type="submit" value="Envia"></p>
</form>


</body></html>
